# ======================================
# IGNORE EVERYTHING
# ======================================

*

# ======================================
# KEEP FOLDERS STRUCTURE
# ======================================

!Assets/
!Assets/Scripts/

# ======================================
# KEEP C# SCRIPTS ONLY
# ======================================

!Assets/Scripts/**
*.meta

# Re-allow .cs files
!*.cs

# ======================================
# KEEP DOCUMENTATION
# ======================================

!README.md
!*.pdf

# ======================================
# GIT FILES
# ======================================

!.gitignore